html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
  padding: .4em .75em .3em;
}

.normal {
  font-size: 1.125rem;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  border-width: 3px;
}

.btn:hover , .small-btn:hover , .btn-big:hover{
  background-color: #000;
}

.btn-subtle {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #ccc;
  border-width: 3px;
}

.btn-ghost {
  display: inline-block;
  border-radius: 8px;
  color: #000;
  border-width: 3px;
  border-color: #000;
}

.btn-subtle:hover , .btn-ghost:hover , .small-subtle:hover , .small-ghost:hover , .subtle-big:hover , .ghost-big:hover{
  color: #fff;
  background-color: #333;
}

.btn-warning {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #f33;
  border-width: 3px;
}

.btn-warning:hover , .warning-big:hover , .small-warning:hover{
  background-color: #933;
}

.small {
  font-size: .875rem;
}

.small-btn {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  border-width: 3px;
}

.small-subtle {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #ccc;
  border-width: 3px;
}

.small-ghost {
  display: inline-block;
  border-radius: 8px;
  color: #000;
  border-width: 3px;
  border-color: #000;
}

.small-warning {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #f33;
  border-width: 3px;
}

.big {
  font-size: 1.5rem;
}

.btn-big {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  border-width: 3px;
}

.subtle-big {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #ccc;
  border-width: 3px;
}

.ghost-big {
  display: inline-block;
  border-radius: 8px;
  color: #000;
  border-width: 3px;
  border-color: #000;
}

.warning-big {
  display: inline-block;
  border-radius: 8px;
  color: #fff;
  background-color: #f33;
  border-width: 3px;
}
